body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(31, 110, 140);
  color:rgb(155, 205, 210);
  width: 1900px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  margin-left: 30px;
  margin-top: 30px;
}

.text-input{
  border: 2px solid rgb(92, 137, 132);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(155, 205, 210);
  padding-top: 100px;
  width: 1900px;
  height: 1080px;

}
.welcome {
  font-size: 150px;
}

.welcome-message {
  margin-top: 100px;
}

.continue-button {
    width: 150px;
    height: 50px;
    background-color: rgb(155, 205, 210);
    border: none;
    border-radius: 8px;

}
.continue-button:hover {
  opacity: 80%;
  border: solid 1px black;
}

.first-question-form {
  display: flex;
  padding-top: 200px;
  justify-content: space-around;
}

.pet-selection-form {
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  
}
.first-question-first-section {
  padding-right: 50px;
}

.pet-selection {
  width: 150px;
  display: flex;
  justify-content: space-between;
}


.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background-color: rgb(155, 205, 210); 
}

.pet-images {
  display:flex;
  flex-wrap: wrap;
  height: 700px;
  width: 650px;
  align-content:start;
}
.animal-photo {
  width: 150px;
  padding: 4px;
  object-fit: cover;
}

.second-question-form {
  width: 1850px;
  height: 1080px;
  padding-top: 200px;
  padding-left: 50px;
}

.duration-selection-radio-button {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.radio {
  width: 14px;
  height: 14px;
}

.last-question-form {
  width: 1850px;
  height: 1080px;
  margin-left: 50px;
  padding-top: 200px;
}


.name {
  display: flex;
}

.name-input {
  width: fit-content;
  height: 30px;
  margin-top: 20px;
  align-items: end;
  margin-left: 10px;
}

.mail {
  display: flex;
}

.mail-input {
  width: fit-content;
  height: 30px;
  margin-top: 20px;
  align-items: end;
  margin-left: 10px;
}

.gender {
  display: flex;
}

.gender-input {
  width: fit-content;
  height: 20px;
  margin-top: 30px;
  align-items: end;
  margin-left: 10px;
  size: 30px;
}